@font-face {
  font-family: "Darumadrop One";
  src: url(./assets/fonts/DarumadropOne-Regular.ttf);
}

:root {
  --background-dark: #2d3548;
  --text-light: rgba(255, 255, 255, 0.8);
  --text-lighter: rgba(255, 255, 255, 1);
  --spacing-s: 8px;
  --spacing-m: 16px;
  --spacing-l: 24px;
  --spacing-xl: 32px;
  --spacing-xxl: 64px;
  --width-container: 1200px;

  --text-color: #565360;
  --label-color: #908e9b;
  --disabled-color: #e1dfe9;

  --small-length-s: 0.25rem;
  --small-length-m: 0.5rem;
  --small-length-l: 0.75rem;

  --medium-length-s: 1rem;
  --medium-length-m: 1.25rem;
  --medium-length-l: 1.5rem;

  --larger-length-s: 2rem;
  --larger-length-m: 3rem;
  --larger-length-l: 4rem;

  --card-length: 15rem;

  --hedaer-length: 10rem;
}

* {
  font-family: "Darumadrop One";
}

body,
html {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
}
